<div class='container bg-dark text-light'>
    <div class="border border-info">
        {{prd1.prdId}}
        {{prd1.prdName}}
        {{prd1.prdLocation}}
        <br>
        <br>

        <ul *ngFor=" let p of prd">
            <li>{{p.prdId}}
                {{p.prdName}}
                {{p.prdLocation}}
        </ul>
    </div>

</div>
<br>
<button type="button" class="btn btn-primary ml-5" >Click Me!!</button>
<br>
<img [src]=image1 >
<img src={{image2}}>
<img src={{image3}} >
<br>
<img src={{image3}} width={{img_w}} height={{img_h}}>